<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.lmhitysu.item.category.dao.ICategoryMapper">
    <!--Category-->
    <resultMap id="categoryMap" type="com.lmhitysu.leyou.item.model.Category">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="isParent" column="IS_PARENT"/>
        <result property="sort" column="SORT"/>
    </resultMap>
    <sql id="categoryFields">
        <![CDATA[
            ID,
            NAME,
            PARENT_ID,
            IS_PARENT,
            SORT
        ]]>
    </sql>
   <select id="findCategoryById" parameterType="Category" resultMap="categoryMap">
        select <include refid="categoryFields"/>
         from tb_category
            <where>
                <if test="parentId != null">
                    AND PARENT_ID = #{parentId}
                </if>
            </where>
    </select>
    <select id="findByProperty" parameterType="java.util.Map" resultMap="categoryMap">
        select <include refid="categoryFields"/>
        from tb_category
        <where>
            <if test="parentId != null">
                AND PARENT_ID = #{parentId}
            </if>
            <if test="categoryId != null">
                AND ID = #{categoryId}
            </if>
            <if test="categoryIds != null">
                AND ID IN
                <foreach collection="categoryIds" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="name != null">
                AND NAME like concat ('%',#{name},'%')
            </if>
        </where>
    </select>
    <select id="qryCategoryName" parameterType="java.util.Map" resultType="java.lang.String">
        select NAME
        from tb_category
        <where>
            <if test="parentId != null">
                AND PARENT_ID = #{parentId}
            </if>
            <if test="categoryId != null">
                AND ID = #{categoryId}
            </if>
            <if test="categoryIds != null">
                AND ID IN
                <foreach collection="categoryIds" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="name != null">
                AND NAME like concat ('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>